.vscode
.idea

# Ignore build artifacts from the local tests sub-crate.
target
artifacts

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Dependency directory
node_modules

package-lock.json

# macOS
.DS_Store

yarn.lock
.cargo/config.toml
output/*
